.tally-list ul {
  display: flex;
  flex-wrap: wrap;
}

.tally-block {
  border: black solid;
  width: 23%;
  flex-grow: 0;
  margin: .5%;
}

.tally-block.no-goal-set {
  background-color: #dadada;
}
.tally-block.goal-met {
  background-color: #bada55;
}
.tally-block.goal-unmet {
  background-color: #da8a55;
}

@media screen and (max-width: 800px) {
    .tally-block {
      width: 47%;
    }
}
@media screen and (max-width: 600px) {
    .tally-block {
      width: 90%;
    }
}
